*.ini
wifi_car.uvguix.peixu
*.o
*.d
*.crf
*.sct
*.htm
*.axf
*.map
*.dep
*.lnp
*.lst
*.hex
*.dbgconf
*.icf
JLinkLog.txt
*.iex
*.scvd
wifi_car_driver/MDK-ARM/wifi_car_driver.uvguix.peixu
wifi_car.uvguix.Pacey.Pei
*.Bak
